

body {
    margin: 0;
    padding: 20px;
    font-family: "Raleway", sans-serif;
}

header {
    padding-left: 30px;
}

.entete {
    display: flex;
}

.logo {
    flex: 1;
    float: left;
}

.menu {
    display: inline;
    float: right;
}

.menuResponsive {
    display: flex;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-right: 65px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.inscription a {
    color: #247afc;
}

nav li a:hover {
    color: #64a1fc;
    border-top: #64a1fc 2px solid;
    padding-top: 34px;
}

header h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

header p {
    font-size: 15px;
}

.iconeSearch {
    background-color: #f2f2f2;
    font-size: 20px;
    padding: 15px;
    margin-right: -5px;
    border-radius: 10px 0 0 10px;
}

input {
    font-size: 40px;
    margin-right: -15px;
    border-radius: 0 10px 10px 0;
}

#search {
    border: solid #f2f2f2 1px;
    font-size: 20px;
    padding-left: 18px;
}

.searchBloc {
    display: flex;
}

.searchButton {
    background-color: #0065fc;
    border-radius: 0 15px 15px 0;
    color: white;
    border: none;
    padding: 0 20px 0 20px;
}

.searchButton i {
    display: none;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.filtres h2 {
    font-size: 18px;
    align-self: center;
    margin-top: 5px;
}

.filtres a {
    margin: 15px;
    border: solid #d9d9d9;
    border-left: none;
    padding: 12px 12px 12px 0;
    border-radius: 25px;
}

.filtres i {
    color: #0065fc;
    background-color: #deebff;
    padding: 15px;
    border-radius: 35px;
}

.filtres span {
    padding: 10px;
}

.filtres nav a:hover, .filtres nav i:hover {
    background-color: black;
    color: #0065fc
}


.logementsDispo {
    display: flex;
    font-size: 15px;
    margin-top: 45px;
}

.iconeInfo {
    color: #0065fc;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    padding: 5px 10px 15px 15px;
    height: 10px;
    width: 10px;
}

.phrase {
    align-self: center;
    padding-left: 10px;
}

main h1 {
    font-size: 20px;
    font-weight: bold;
}

.hebergements {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px 50px 0 50px;
    width: 60%;
}

.contentHotelPop {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 650px;
}

.title {
    font-size: 25px;
    font-weight: 800;
}

.blocHotel {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    margin: 30px 0 50px;
}

a {
    text-decoration: none;
}

.logements {
    background-color: white;
    border-radius: 15px;
    display: grid;
    height: 200px;
    grid-template-rows: 1fr 40%;
    padding: 5px 5px 0 5px;
}

.logements img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

p {
    color: black;
}

#afficher {
    font-weight: bold;
}

.populaires {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 30px 0 0 50px;
    width: 25%;
}

.popTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.popTitle i {
    padding-right: 50px;
    font-size: 1.5em;
}

.popContent {
   margin-top: -30px;
}

.logementsPop {
    background-color: white;
    border-radius: 15px;
    display: flex;
    margin-top: 45px;
    margin-right: 50px;
    height: 130px;
    padding: 5px 0 5px 5px;
}

.logementsPop img {
    width: 40%;
    height: 130px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

h3 {
    font-size: 15px;
    color: black;
}

.description {
    background-color: #fff;
    padding-left: 10px;
    height: 30px;
    line-height: 7px;
    font-size: 15px;
}

.description h3 {
    margin-top: 8px;
}

.description i {
    color: #0065FC;
}

.descriptionPop {
    margin-left: 25px;
}

.descriptionPop p {
    margin-top: -10px;
}

.descriptionPop i {
    color: #0065FC;
}

.fourStars :nth-child(5) {
    color: #D9D9D9;
}

.threeStars :nth-child(4) {
    color: #D9D9D9 ;
}

.threeStars :nth-child(5) {
    color: #D9D9D9 ;
}

.activites {
    margin-top: 50px;
    padding-left: 40px;
    display: block;
}

.blocActivites {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(4, 1fr);
    gap: 37.5px;
    height: 450px;
    grid-auto-flow: column;
}

.premierBloc {
    grid-row-end: span 13;
}

.deuxiemeBloc {
    grid-row-end: span 7;
}

.deuxiemeBloc img {
    height: 95%;
}

.deuxiemeBloc .descriptionActivites {
    position: absolute;
    margin-top: 220px;
}

.troisiemeBloc {
    grid-row-end: span 6;
    margin-bottom: -53px;
    margin-top: 60px;
}

.troisiemeBloc img {
    height: 91%;
}

.troisiemeBloc .descriptionActivites {
    position: absolute;
    margin-top: 167px;
}

.quartiersSeuls {
    display: grid;
    grid-template-rows: 1fr 50px;
    height: 120%;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
}

.quartiersSeuls img {
    width: 100%;
    object-fit: cover;
    height: 97%;
}

.deuxQuartiers {
    display: grid;
    grid-template-rows: 1fr 50px;
    height: 120%;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
}

.deuxQuartiers img {
    width: 100%;
    object-fit: cover;
}

.descriptionActivites {
    padding-top: 7px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

footer {
    margin-top: 200px;
    margin-left: -180px;
    padding-top: 40px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    height: 250px;S
}

footer h3 {
    font-size: 20px;
}

footer ul {
    list-style-type: none;
    margin-top: 3px;
    padding-left: 0;
}

footer li {
    margin-top: 15px;
}

/* version ordinateur*/
@media only screen and (max-width: 1280px){
}

/* version tablette*/
@media only screen and (max-width: 1024px){
    .populaires {
        background-color: #f2f2f2;
        border-radius: 15px;
        padding: 30px 40px 40px 50px;
        width: 100%;
        flex: 1;
        margin-bottom: 42px;
    }
}

/* version mobile*/
@media only screen and (max-width: 600px){
    body {
        width: auto;
        margin-top: 5px;
    }
    
   .logo {
       margin-left:-30px;
    }

   nav ul {
        display: flex;
        list-style-type: none;
        flex-direction: column-reverse;
        }

    .inscription {
        margin-left: 120px;
    }

    .menuResponsive {
        margin: 44px 0 0 -160px;
        padding-left: 62px;
    }

    .leftNav {
        margin-left: -65px;
        border-bottom: #0065fc 2px solid;
        width: 155px;
        padding-left: 40px;
    }

    .leftNav a {
        color: #0065fc;
    }

    .rightNav {
        margin-left: -65px;
        width: 200px;
        padding-left: 50px;
        border-bottom: #f2f2f2 2px solid;
        padding-bottom: 13px;
    }

    header h1{
        margin-left:-30px;
        font-size: 21.3px;
    }

    header p, form, .filtres {
        margin-left: -30px;
    }

    .filtres nav {
        display: flex;
        flex-wrap: wrap;
    }

    .filtres nav a {
        margin: 0 15px 15px 0;
        padding: 0;
    }

    .logementsDispo {
        margin-left: -30px;
        margin-top: 10px;
    }

    .searchButton {
        border-radius: 15px;
    }

    .searchButton i {
        display: inline-block;
    }

    .searchButton span {
        display: none;
    }

    .contentHotelPop {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        height: 650px;
        flex-direction: column-reverse;
    }

}